<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
		
	    <section class="layout-content" layout:fragment="body">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Funcionários</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" th:href="@{/funcionarios/cadastrar}" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Funcionários</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
				<div th:replace="fragments/alert"></div>
	            <p>
	                <i class="oi oi-magnifying-glass"></i><span></span>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNome"
	                        aria-controls="collapseNome">Nome
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCargo"
	                        aria-controls="collapseCargo">Cargo
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseData"
	                        aria-controls="collapseData">Datas
	                </button>
	            </p>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/nome}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       th:name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCargo">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/cargo}">
	                                <select class="form-control mr-sm-2" th:name="id" aria-label="Search">
	                                    <option value="">Cargo</option>
	                                    <option th:each="c : ${cargos}"
	                                    		th:value="${c.id}"
	                                    		th:text="${c.nome}">Auxiliar Contábil</option>
	                                </select>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseData">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/funcionarios/buscar/data}">
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       th:name="entrada" />
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       th:name="saida" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Salário</th>
	                        <th>Departamento</th>
	                        <th>Cargo</th>
	                        <th>Endereço</th>
	                        <th>Data de Entrada</th>
	                        <th>Data de Saída</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="f : ${funcionarios}">
	                        <td th:text="${f.id}">1</td>
	                        <td th:text="${f.nome}">Jorge da Silva</td>
	                        <td th:text="|R$ ${{f.salario}}|">R$ 3.500,99</td>
	                        <td th:text="${f.cargo.departamento.nome}">Recursos Humanos</td>
	                        <td th:text="${f.cargo.nome}">Auxiliar de RH</td>
	                        <td>
	                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
	                                    data-toggle="popover" data-placement="top"
	                                    th:attr="data-content=${#strings.concat(
	                                    	f.endereco.logradouro, ', ',
	                                    	f.endereco.numero, ' ',
	                                    	f.endereco.complemento, ' - ',
	                                    	f.endereco.bairro, ', ',
	                                    	f.endereco.cidade, ' - ',
	                                    	f.endereco.uf.sigla, ' - ',
	                                    	f.endereco.cep
	                                    )}">
	                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                        <td th:text="${#temporals.format(f.dataEntrada, 'dd/MM/yyyy')}">01/10/2014</td>
	                        <td th:text="${#temporals.format(f.dataSaida, 'dd/MM/yyyy')}"></td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" th:href="@{/funcionarios/editar/{id} (id = ${f.id})}" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button th:id="${'btn_funcionarios/excluir/' + f.id}" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <div th:replace="fragments/modal :: modal"></div>
	    </section>