<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="body">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Cargos</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" href="/cargos/cadastrar"
				role="button"> <span class="oi oi-plus" title="Cadastro"
				aria-hidden="true"></span> <span>Novo Cargo</span>
			</a>
		</nav>

		<div class="container" id="listagem">
			<div th:replace="fragments/alert"></div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Cargo</th>
							<th>Departamento</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${cargos}">
							<td th:text="${c.id}">id</td>
							<td th:text="${c.nome}">nome cargo</td>
							<td th:text="${c.departamento.nome}">departamento</td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/cargos/editar/{id} (id = ${c.id})}" role="button">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a>
								<button th:id="${#strings.concat('btn_cargos/excluir/', c.id)}"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Exclusão desabilitada"
										aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li th:if="${pagina - 1 > 0}"><a
							th:href="@{/cargos/listar(pagina=${pagina - 1})}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li th:each="i: ${#numbers.sequence(1, totalPaginas)}"><a
							th:href="@{/cargos/listar(pagina=${i})}" th:text="${i}">1</a></li>
						<li th:if="${pagina + 1 <= totalPaginas}"><a
							th:href="@{/cargos/listar(pagina=${pagina + 1})}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
